body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9b0;
}
.top-bg{
    background: #F0FFF0;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
.navbar-brand{
    width: 700px;
}
.navbar-nav{
    width: 450px;
}
.navbar-nav a{
    padding: 7px 10px;
    color: black;
    font-family: 'Poppins';
    margin-left: 15px;
}
.sing-up-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white !important;
    background: #21B573;
    border-radius: 33px;
   
    text-align: center;   
}
.all-container{
    margin-bottom: 65px;
}
.head-line,.head-line-2{
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin: 15px 0px 30px 0px;
}
.head-line-2{
    font-size: 36px;
}
.head-line span{
    color: #21B573;
}
.content-detail{
    color: #6C6B6B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 20px;
}
.box{
    margin-bottom: 20px;
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    border: none;
    transition:  1s all;
}
.box:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}
.card-content{
    margin-top: 20px;
    text-align: center;
}
.card-content h5{
    
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.card-img-top{
    padding: 15px;
}
.buy-course{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white !important;
    background: #21B573;
    border-radius: 33px;
    padding: 6px 25px;
}
.card-bottom{
    margin-top: 30px;
}
.card-bottom img{
    width: 20px;
}
.box-2{
    cursor: pointer;
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    transition: 1s all;
}
.box-2:hover{
    box-shadow: 0px 20px 40px rgb(40 60 204 / 17%)
}

.testimonial-box p{
    
    margin: 10px;
}
.bottom-section{
    background: #282531;
    color: white;
}
.course-list{
    padding: 50px 35px 50px 20px;
    line-height: 25px;
    font-size: 14px;
} 
.course-list h6{
    font-size: 18px;
   

}
.course-list li a{
    color: white;
    text-decoration: none;
}
footer p{
    font-size: 12px;
}